.login {
  width: 35%;
  height: 80vh;
  background-color: rgba(24, 27, 27, 0.733);
  padding: 2%;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 2px 2px 2px white;
  border-radius: 2%;
}
.email,
.password {
  background-color: rgba(85, 97, 97, 0.5);
  color: white;
  font-size: 1rem;
  opacity: 0.5;
  width: 90%;
  padding: 15px;
  margin-bottom: 25px;
  border: none;
  border-radius: 4%;
  outline: none;
}
input::placeholder {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}
.thickMark {
  display: flex;
  align-items: center;
}
.thickMark .checkbox {
  width: 20px;
  height: 20px;
  background-color: rgba(85, 97, 97, 0.5);
  opacity: 0.5;
  margin-right: 10px;
}
button {
  margin-top: 25px;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10%;
  background-color: white;
  outline: none;
}
.footer {
  margin-top: 25px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.createAccount {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 20px;
}
